body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:10px;
  width:300px;
  height:390px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:390px;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:264px;
  top:10px;
  width:147px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:190px;
  top:47px;
  width:300px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:51px;
  width:40px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:250px;
  top:56px;
  width:80px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:190px;
  top:140px;
  width:300px;
  height:170px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u10 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:190px;
  top:80px;
  width:300px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:190px;
  top:310px;
  width:305px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:20px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:20px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:380px;
  top:360px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:210px;
  top:360px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
